* {
  box-sizing: border-box;
  font-family: "Lato", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

/* Add styles here! */
header {
  border-bottom: 4px solid hsl(0deg, 0%, 40%);
}

.intro-chunk {
  padding: 64px 16px 32px;
  max-width: 350px;
}

.max-width-wrapper {
  margin: auto;
  max-width: 700px;
  background-color: white;
}

.title {
  color: hsl(0deg, 0%, 10%);
  margin-bottom: 32px;
}

.intro-chunk p {
  color: hsl(0deg, 0%, 10%);
}

strong {
  color: hsl(160deg, 100%, 30%);
}

main {
  background-color: hsl(0deg, 0%, 60%);
  min-height: 50%;
  padding: 32px 0;
}

main .max-width-wrapper {
  border-bottom: 4px solid hsl(0deg, 0%, 40%);
}

.card {
  padding-top: 8px;
}

.indented-heading {
  font-size: 1rem;
  padding: 16px 32px;
  margin: 0;
  margin-left: -16px;
  background-color: hsl(45deg, 100%, 50%);
  border-bottom: 4px solid hsl(45deg, 100%, 40%);
  width: fit-content;
}

.card p {
  margin-left: 16px;
  margin-right: 16px;
}
